@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: plum;
}

.body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-areas: "menu" "main" "footer";
  height: 100vh;
}
@media (min-width: 992px) {
  .body {
    grid-template-areas: "menu main main" "menu main main" "footer main main";
    grid-template-columns: 1.5fr 9fr;
    height: 140vh;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .body {
    grid-template-areas: "menu menu" "main main" "footer footer";
    grid-template-rows: 1fr 9fr 1fr;
  }
}

.menu {
  grid-area: menu;
  background-color: purple;
  color: yellow;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.menu .tittleMenu {
  display: flex;
}
.menu .tittleMenu img {
  display: flex;
  padding: 8px 0 0 0;
}
.menu .tittleMenu h2 {
  display: flex;
  padding: 25px 12px 0px 10px;
}
@media (min-width: 992px) {
  .menu .ulMenu {
    align-items: flex-end;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .menu .ulMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}
.menu .ulMenu ul li {
  display: none;
  list-style: none;
}
@media (min-width: 992px) {
  .menu .ulMenu ul li {
    display: flex;
    text-align: center;
    padding: 5px;
  }
}
@media (min-width: 992px) {
  .menu .ulMenu ul li a {
    color: yellow;
    text-decoration: none;
  }
}
.menu .iconMenu {
  display: flex;
}
.menu .iconMenu i {
  padding: 38px 30px 0 0;
}
@media (min-width: 992px) {
  .menu .iconMenu i {
    display: none;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .filters {
  background-color: yellow;
  color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  padding: 10px;
}
@media (min-width: 992px) {
  .main .filters {
    width: 95%;
  }
}
.main .filters select {
  color: purple;
  width: 290px;
  height: 30px;
}
@media (min-width: 992px) {
  .main .filters select {
    width: 70%;
  }
}
.main .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 992px) {
  .main .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4px;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .main .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4px;
  }
}
.main .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px purple;
  padding: 50px 0 0 0;
  border-radius: 2%;
  width: 300px;
  height: 420px;
  background-color: yellow;
  color: purple;
}
.main .cards .card .cardImg {
  width: 280px;
  height: 320px;
}
.main .cards .card .cardImg img {
  width: 270px;
  height: 300px;
}
.main .cards .card button {
  background-color: purple;
  color: yellow;
  width: 80px;
  height: 30px;
  margin: 10px;
  transition: background-color 0.3s ease-out;
}
.main .cards .card button:hover {
  background-color: rgb(220, 16, 210);
}
.main .cards .card button:focus {
  background-color: rgb(211, 134, 211);
}
.main .cards .cardsNone {
  display: flex;
  /*display: none;*/
  flex-direction: column;
  align-items: center;
  border: solid 2px purple;
  border-radius: 2%;
  padding: 50px 0 0 0;
  border-radius: 2%;
  width: 300px;
  height: 420px;
  background-color: yellow;
  color: purple;
}
.main .cards .cardsNone .cardImgNone {
  width: 280px;
  height: 320px;
}
.main .cards .cardsNone .cardImgNone img {
  width: 270px;
  height: 300px;
}
.main .cards .cardsNone p {
  display: flex;
  align-items: center;
  text-align: center;
}
.main .cards .cardsNone button {
  background-color: purple;
  color: yellow;
  width: 80px;
  height: 30px;
  margin: 10px;
  transition: background-color 0.3s ease-out;
}
.main .cards .cardsNone button:hover {
  background-color: rgb(220, 16, 210);
}
.main .cards .cardsNone button:focus {
  background-color: rgb(211, 134, 211);
}
@media (min-width: 992px) {
  .main .cards .cardsNone {
    display: flex;
  }
}

.card {
  transition: all 0.5s ease-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px purple;
  filter: brightness(95%);
}

.cardsNone {
  transition: all 0.3s ease-out;
}

.cardsNone:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px purple;
  filter: brightness(95%);
}

.footer {
  grid-area: footer;
  background-color: yellow;
  color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
}
.footer .iconFooter {
  display: flex;
  align-items: center;
  padding: 5px;
}
.footer .iconFooter i {
  padding: 5px;
}
.footer .tittleFooter {
  padding: 5px;
}
@media (min-width: 992px) {
  .footer .tittleFooter {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */