@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: plum;
}
$xs: "(max-width: 576px)";
$lg: "(min-width: 992px)";
$s: "(min-width: 577px) and (max-width: 991px)";
.body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    'menu'
    'main'
    'footer'
    ;
    height: 100vh;
    @media #{$lg}{
        grid-template-areas:
        'menu main main'
        'menu main main'
        'footer main main'
        ;
        grid-template-columns: 1.5fr 9fr;
    
        height: 140vh;
    }
    @media #{$s}{
        grid-template-areas: 
        'menu menu'
        'main main'
        'footer footer'
        ;
        grid-template-rows: 1fr 9fr 1fr;
    }
}
.menu{
    grid-area: menu;
    background-color: purple;
    color: yellow;
    display: flex;
    justify-content: space-between;
    @media #{$lg}{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    @media #{$s}{
        display: flex;
    }
    
    .tittleMenu{
        display: flex;
        img{
            display: flex;
            padding: 8px 0 0 0;

        }
        h2{
        
            display: flex;
            padding: 25px 12px 0px 10px;
            
        }
       
    }   
    
    .ulMenu{
        @media #{$lg}{
           align-items: flex-end;
           padding: 10px;
        }
        @media #{$s}{
            display: flex;
        }
        ul{
            @media #{$lg}{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                }
                @media #{$s}{
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                }

            li{
                display:none;
                list-style: none;
                @media #{$lg}{
                display: flex;
                text-align: center;
                padding: 5px;
                }
                @media #{$s}{
                display: flex;
                padding: 0 15px 0 0;
                }
                a{
                    @media #{$lg}{
                        color: yellow;
                        text-decoration: none;
                        }
                    @media #{$s}{
                        color: yellow;
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
    .iconMenu{
        display: flex;
    i{
        padding: 38px 30px 0 0;
        @media #{$lg}{
            display: none;    
        }
        @media #{$s}{
            display: none;
        }
    }
    }
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .filters{
        background-color: yellow;
        color: purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98vw;
        padding: 10px;
        @media #{$lg}{
            width: 95%;
        }
    
    select{
        color: purple;
        width: 290px;
        height: 30px;
        @media #{$lg}{
            width: 70%;
        }
        @media #{$s}{
            width: 70%;
        }
    }
    
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        @media #{$lg}{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 4px;
        }
        @media #{$s}{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 4px;
        }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 2px purple;
            padding:50px 0 0 0;
            border-radius: 2%;
            width: 300px;
            height: 420px;
            background-color: yellow;
            color: purple;
            .cardImg{
                width: 280px;
                height: 320px;
                img{
                    width: 270px;
                    height: 300px;
                }
            }
            button{
                background-color: purple;
                color: yellow;
                width: 80px;
                height: 30px;
                margin: 10px;
                transition: background-color 0.3s ease-out;
            }
            button:hover{
                background-color: rgb(220, 16, 210);
            }
            button:focus{
                background-color: rgb(211, 134, 211);
            }
            
        }
        .cardsNone{
            display: flex;
            /*display: none;*/
            flex-direction: column;
            align-items: center;
            border: solid 2px purple;
            border-radius: 2%;
            padding:50px 0 0 0;
            border-radius: 2%;
            width: 300px;
            height: 420px;
            background-color: yellow;
            color: purple;
            .cardImgNone{
                width: 280px;
                height: 320px;
                img{
                    width: 270px;
                    height: 300px;
                }
            }
            p{
                display: flex;
                align-items: center;
                text-align: center;
            }
            button{
                background-color: purple;
                color: yellow;
                width: 80px;
                height: 30px;
                margin: 10px;
                transition: background-color 0.3s ease-out;
            }
            button:hover{
                background-color: rgb(220, 16, 210);
            }
            button:focus{
                background-color: rgb(211, 134, 211);
            }
            @media #{$lg}{
                display: flex;
            }
        }
    }
}  
.card{
    transition: all 0.5s ease-out;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px purple;
    filter: brightness(95%);
}
.cardsNone{
    transition: all 0.3s ease-out;
}
.cardsNone:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px purple;
    filter: brightness(95%);
}

.footer{
    grid-area: footer;
    background-color: yellow;
    color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px;
   
    .iconFooter{
        display: flex;
        align-items: center;
        padding: 5px;
       
        i{
            padding: 5px;
            
        }
    }
    .tittleFooter{
        padding: 5px;
        @media #{$lg}{
            text-align: center;
         }
       
    }
}